.Cv {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 563px;
  max-height:500px;
}

.topCv {
  background-color: black;
  display:flex;
  border-radius: 7px; 
  max-height: 170px;
  flex: 1;
}

.bottomCv {
  flex: 1;
  background-color:white;
  color: black;
}
.profileInfo {
  flex:1;
  
}
.contactInfo {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: gray;
}
.contactIcon {
  width: 20px
}

.profile {
  display: flex;
  flex: 1;
}
#profileName {
  margin-bottom: 5px;
}

.profileProfession  h3{
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.profilePhoto {
  background-image: url(../../public/FTG5402-Editar-scaled.webp);
  background-size: cover;
  height: 170px;
  width: 120px;
  margin-right:auto;
}


