.generalInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: expand 500ms ease-in-out;
    transform-origin: bottom;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}

input {
  padding: 8px;
  font-size: 19px;
  border-radius: 30px
}

textarea {
  height:150px;
}

.generalInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitBtn {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
